<!DOCTYPE html>
<html>

<head>
    <title>Dog Viewer</title>
    <link rel="stylesheet" type="text/css" href="/styles/jsontree.css">
    <style>
    *,
    :after,
    :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .btn {
        padding: 0;
        display: inline-block;
        width: 160px;
        height: 36px;
        text-align: center;
        line-height: 34px;
        border-radius: 3px;
        border: 1px solid #cd461e;
    }
    
    .btn-red-full {
        background-color: #eb3232;
        border-color: #d22828;
    }
    
    .btn,
    .btn-org-full {
        color: #fff;
        background-color: #e6501e;
    }
    </style>
</head>

<body>
    <div class="jstree jstree-forcused jstree-default">
        <ul></ul>
    </div>
    <script type="text/javascript" src="https://cdn.wilddog.com/sdk/js/2.5.6/wilddog.js"></script>
    <script type="text/javascript" src="/scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/scripts/jsontree.js"></script>
    <script type="text/javascript">
    var appid = '14789'

    var host = appid + '.wilddogio.com';
    var rootConfig = {
        authDomain: appid + ".wilddog.com",
        syncURL: "https://" + appid + ".wilddogio.com",
        websocketOnly: true
    };
    wilddog.initializeApp(rootConfig);
    var rootRef = wilddog.sync().ref();
    
    jsTree('.jstree', host, '/messageboard')
    </script>
</body>

</html>
